[Unit]
Description=Hedera Network Node
After=network.target

[Service]
Type=simple
Restart=on-failure
User=hedera
Group=hedera

PassEnvironment=JAVA_HOME JAVA_OPTS JAVA_HEAP_MIN JAVA_HEAP_MAX JAVA_MAIN_CLASS JAVA_CLASS_PATH PATH APP_HOME CONSENSUS_NODE_ID
EnvironmentFile=/etc/network-node/env/application.env

WorkingDirectory=/opt/hgcapp/services-hedera/HapiApp2.0
ExecStartPre=/usr/bin/bash /etc/network-node/startup/stage_files.sh
ExecStart=/usr/bin/bash /opt/hgcapp/services-hedera/HapiApp2.0/entrypoint.sh

[Install]
WantedBy=multi-user.target
